:root {
    --primary: #ffb0b0;
    --secondary: #050505;
    --secondary-opacity: #05050590;
    --white: #dad0d0;
}

html {
    height: 100%;
}

.navbar-container {
    background-color: var(--primary);
    position: sticky;
    margin-bottom: 1em;
    top: 0;
    z-index: 10;
}

.navbar a {
    cursor: pointer;
}

.main-container {
    min-height: 120vh;
    background-color: var(--secondary);
    color: var(--white);
    padding-bottom: 1em;
}

.login-container {
    background-color: var(--primary);
    min-height: 100vh;
}

.user-page-container {
    overflow: hidden;
}

.user-page-left-container {
    width: 33%;
    min-height: 100vh;
    float: left;
    text-align: center;
}

.profile-pic-user-page img {
    width: 200px;
}

.profile-pic-user-page {
    margin: 1em;
}

.edit-profile-btn-container {
   margin: 1em;
}

.user-page-user-data-container {

}

.user-page-right-container {
    min-width: 66%;
    overflow: hidden;
    float: right;
    min-height: 100vh;
}

.create-new-post-container {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 1em;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    border-radius: 10px;
    background-color: var(--primary);
}

.post-card {
    margin: 3em auto 20px;
    position: relative;
    width: 40%;
    /*padding: 1em;*/
    border: 2px solid var(--primary);
    color: var(--secondary);
    border-radius: 10px;
}

.post-title {
    padding: 0.5em 0;
}

.post-header {
    background-color: var(--primary);
    padding: 1em 1em 0 1em;
}

.post-body {
    padding: 5px;
    font-weight: 500;
    font-size: large;
    color: var(--white) !important;
}

.username-in-post {
}

.comment-container {
    padding: 0.5em 1em;
    background-color: var(--primary);
    color: var(--secondary);
}

.delete-icon {
    color: var(--secondary) !important;
    position: absolute;
    right: 5px;
    top: 5px;
}

.login-form {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-60%, -50%);
    padding: 10px;
    text-align: center;
}

#login-logo {
    max-width: 100%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-60%, -50%);
}

.button {
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 0.5rem;
}

.button-dark {
    background-color: var(--secondary);
    color: var(--white);
}

.button-light {
    background-color: var(--primary);
    color: var(--secondary-opacity);
}

.form-control {
    border-radius: 0 !important;
}

#logo {
    height: 35px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    /*background-color: #fefefe;*/
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50% !important; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    position: absolute;
    left: 1em;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    background-color: var(--secondary) !important;
    color: var(--primary);
    border-radius: 0.5rem;
    float: left;
}

.datas-to-edit {
    text-align: left;
}

#user-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-age {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.user-data-name {
    font-size: x-large ;
}

.user-data-age {
    font-size: x-large;
}

.user-data-email {
    font-size: x-large;
}

.edit-btn {
    padding: 1em !important;
    color: black;
    border-radius: 0.3rem;
}

.modal-header {
    justify-content: center !important;
    border: 0 !important;
}