:root {
    --primary: #ffb0b0;
    --secondary: #050505;
    --secondary-opacity: #05050590;
    --white: #dad0d0;
}

.navbar {
    background-color: var(--primary);
}

.navbar a {
    cursor: pointer;
}

.main-container {
    min-height: 100vh;
    background-color: var(--secondary);
    color: var(--white);
}

.login-container {
    background-color: var(--primary);
    min-height: 100vh;
}

.login-form {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-60%, -50%);
    padding: 10px;
    text-align: center;
}

#login-logo {
    max-width: 100%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-60%, -50%);
}

.button {
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button-dark {
    background-color: var(--secondary);
    color: var(--white);
}

.button-light {
  background-color: var(--primary);
  color: var(--secondary-opacity);
}

.form-control {
    border-radius: 0 !important;
}

#logo {
    height: 35px;
}


.container {
    max-width: 66vh;
    margin: 1px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 1px;
    border-radius: 5px;
    background-color: #313133a4;
}